@import url(../css/variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}


body{
    background-color: var(--color-1);
    background-image: url(../storage/img/personalizacion/fondooo.png);
    background-repeat: no-repeat;
    
}

.header_bar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: var(--space-layout-padding-lr);
   
}

.header_flechacruzada_icon{
    margin-top: 10px;
    
}

.header_flechacruzada_icon img{
    width: 30px;
    position: absolute;
    
}
.header_up_text p{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 25px;
    color: var(--color-2);
    font-family: "SF_BOLD";
}

.header_menu_icon{
    position: absolute;
    margin-top: 10px;
    right: 0;
    padding-right: 15px;    
}

.header_menu_icon img{
    width: 30px;
    
}


.pig-up{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    height: 150px;
    margin-top: 15px;
    box-shadow: 0px 5px 5px 5px #33404f66;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid var(--color-1);
    border-radius: 30px;
}

.imgborder{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--color-16);
    width: 100%;
    height: 150px;
    border-radius: 30px 80px 80px 30px;
    padding: var(--space-layout-padding-lr);
    
    
}

.pig-up img{
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 120px ;
    
}
h2{
    
    margin-top: 15px;
    font-family: "SF_BOLD";
    font-size: 20px;
}

.cardw{
    margin-top: 40px;
    padding: var(--space-layout-padding-lr);
}
.cardw1{
    margin-top: 30px;
    padding: var(--space-layout-padding-lr);
}


.pip-up-text{
    margin-top: 20px;
    padding: var(--space-layout-padding-lr);
}
.pig-up h2{
    grid-column: 2;
    grid-row: 1;
    font-family: "SF_BOLD";
}

.pig-up h3{
    grid-column: 2;
    grid-row: 2;
    font-family: "SF_REGULAR";
    font-size: 15px;
    color: #33404f66;

}

.pig-up button{
    grid-column: 2;
    grid-row: 1;
    background-color:   var(--color-2);
    width: 150px;
    border-radius: 30px;
    height: 40px;
    font-family: "SF_BOLD";
    color: var(--color-1);
    border-color: var(--color-2);
}

.half-down{
    padding-left: 30px;
}
.creditcards{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    overflow-y: scroll;
    column-gap: 10px;
    margin-top: 10px;
    height: 400px;    
    padding: var(--space-layout-padding-lr);
}


.card img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(0.9);
}


.creditcards img{
    width: 210px;

}



.footer{
    bottom: 0;
    width: 100%;
    position: fixed;

}

.footer_ul{
    display: flex;
    background-color: var(--color-2);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 8px;
    height: 60px;
    box-shadow: 0px -2px 55px 10px #ffffff;

}

.footer_ul li{
    list-style: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    

    
}
.footer_ul img{
    width: 40px;
}

.imgm{
    position: relative;
    left: 12px;
    
}
.iconoxd{
    cursor: pointer;
    transition: filter 0.9s ease;
}

.iconoxd:active {
    filter: brightness(0) sepia(1) saturate(10) hue-rotate(-15deg); 
}