<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <main>
        <header class="header_bar">
            <div class="header_flechacruzada_icon">
                <img src="../storage/img/personalizacion/bancolombia-seeklogo.svg">
            </div>
            <div class="header_up_text">
                <p>BANCOLOMBIA</p>
            </div>
            <div class="header_menu_icon">
                <img src="../storage/img/personalizacion/blamcop.png">
            </div>
        </header>
        <div class="background_up">
            <div class="balance_up">
                <h2>Total</h2>
                <h3>Balance</h3><br>
                <span>$214,417</span>
            </div>
        </div>
    
        <div class="half_white">
            <button class="buttonone">Assets</button>
            <button class="buttontwo">Debt</button>
            <button class="buttonthree">Income</button>
        </div>

        <div class="graphics">
            <img src="../storage/img/views/balance/graphic.svg"><br>
            <img src="../storage/img/views/balance/graficoab.svg">
        </div>

        <input type="checkbox" id="hideDiv" style="display: none;">
<div class="down_div">
    <img class="y" src="../storage/img/personalizacion/iconoaxdsdfnjwer.png">
    <div class="x">
        <a href="#" id="closeLink">
            <img src="../storage/img/views/balance/x.png" alt="Cerrar">
        </a>
    </div>
    <div class="textgrup">
        <h3>Spending</h3>
        <p>You forgot to add debt card number at payment #1323. Add it now.</p>
    </div>
</div>
        
           
        
    </main>
    <footer class="footer">
        <ul class="footer_ul">
            <li>
                <a href="../index.html">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-casa-50.png">
                </a>
            </li>
            <li>
                <a href="../views/detail.html">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-billetera-64.png">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img class="imgm" src="../storage/img/personalizacion/icons8-menú-en-círculos-50.png">
            </li>
            <li>
                <a href="#">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-campana-64.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-usuario-de-género-neutro-50.png">
                </a>
            </li>
        </ul>


    </footer>
</body>
</html>