<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <header class="header_bar">
            <div class="header_flechacruzada_icon">
                    <img src="../storage/img/personalizacion/bancolombia-seeklogo.svg">
            </div>
            <div class="header_up_text">
                <p>BANCOLOMBIA</p>
            </div>
            <div class="header_menu_icon">
                <img src="../storage/img/personalizacion/Menu_icon_2_icon-icons.com_71856.png">
            </div>
        </header>
        <h2 class="cardw1">Investing Tips</h2> 
        <div class="pig-up">
            
            <div class="imgborder">
            <img src="../storage/img/personalizacion/Group 10.svg">
        </div>
        <div class="pip-up-text">
            <h2>What is an ETF?</h2>
            <h3>By James B, PHD</h3>
            <button>LEARN MORE</button>
        </div>
        </div>
        <section class="Half-down">
            <h2 class="cardw">My cards(4)</h2>
        <div class="creditcards">
            <div class="card">
                <img src="../storage/img/personalizacion/tarjetita2.svg">
            </div>
            <div class="card">
                <img src="../storage/img/personalizacion/tarkjetita1.svg">
            </div>
            <div class="card">
                <img src="../storage/img/personalizacion/tarkjetita1.svg">
            </div>
            <div class="card">
                <img src="../storage/img/personalizacion/tarjetita2.svg">
            </div>
            <div class="card">
                <img src="../storage/img/personalizacion/tarkjetita1.svg">
            </div>
            <div class="card">
                <img src="../storage/img/personalizacion/tarjetita2.svg">
            </div>
        </div>
        </section>
           
        
    </main>
    <footer class="footer">
        <ul class="footer_ul">
            <li>
                <a href="../index.html">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-casa-50.png">
                </a>
            </li>
            <li>
                <a href="../views/detail.html">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-billetera-64.png">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img class="imgm" src="../storage/img/personalizacion/icons8-menú-en-círculos-50.png">
            </li>
            <li>
                <a href="#">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-campana-64.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="iconoxd" src="../storage/img/personalizacion/icons8-usuario-de-género-neutro-50.png">
                </a>
            </li>
        </ul>


    </footer>
    
</body>
</html>